# For simplicity .env is being used as the develpoment environment variables for this project
# Use env.production for production environment

# Server
NODE_ENV="development"
DATABASE_URL="postgresql://postgres:docker@localhost:5432/todo-db?schema=public"
NEXTAUTH_SECRET="TEST"
BASE_URL="http://localhost:3000"
NEXTAUTH_URL="http://localhost:3000"

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_ENABLED=false
CLOUDINARY_ENABLED=false
CLOUDINARY_CLOUD_NAME="CLOUD_NAME"
CLOUDINARY_API_KEY="API_KEY"
CLOUDINARY_API_SECRET="API_SECRET"
CLOUDINARY_CLOUD_FOLDER_NAME="CLOUD_FOLDER_NAME"

# Sendgrid
SENDGRID_API_KEY="SENDGRID_API_KEY"
SENDGRID_EMAIL_SENDER="SENDGRID_EMAIL_SENDER"
EMAIL_SENDING_IS_ENABLED=false

# Browser
# Must be prefixed with `NEXT_PUBLIC_` to work on front-end
NEXT_PUBLIC_API_URL="http://localhost:3000/api"
NEXT_PUBLIC_ENV="development"
