@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background-color: #f1ece9 !important;
}

h1 {
	font-size: 1.5rem;
	letter-spacing: 0.15px;
}

.main-container--with-sidebar {
	width: calc(100% - 15.5rem);
	margin-left: 15.5rem;
}
