@import 'styles/breakpoints';

/* MUST UPDATE SIDEBAR WIDTH WHEN UPDATING withSideBar width property  */
.withSideBar {
	@include lg() {
		width: calc(100% - var(--side-bar-width));
		margin-left: var(--side-bar-width);
	}
}

.withNavBar {
	top: var(--nav-bar-height);
	position: relative;
}
